<!DOCTYPE html>
<html lang="en">

<head>

</head>

<body data-spy="scroll" data-offset="58" data-target="#navbar-main">


    <!-- ==== HEADERWRAP ==== -->
    <div id="home"></div>
    <div id="headerwrap" name="home">
        <header class="clearfix">
            <h1><span class="icon icon-shield"></span></h1>
            <p>Movies</p>
            <p>Everything that you have been looking for</p>
        </header>
    </div>
    <h1>Error 404 - Not found</h1>
    <!-- ==== SECTION DIVIDER ==== -->
    <section class="section-divider textdivider divider">
        <div class="container">
            <h1>Página creada por</h1>
            <hr>
            <p>Antonio Yu</p>
            <p>Andrea Timarán</p>

        </div>
        <!-- container -->
    </section>
</body>

</html>