<div id="icono">
    <div id="personImg">
        <img src="https://img.pngio.com/education-graduate-science-student-study-teaching-icon-icon-student-studying-science-png-512_512.jpg">
    </div>
    <div id="person">
        <img src="https://www.clipartmax.com/png/full/52-526292_ubud-monkey-forest-girl-flat-icon-png.png">
    </div>
</div>
<div id="greywrap">
    <div id="person">
        <p>Antonio Yu</p>
        <p>Estudiante de séptimo semestre de ingeniería de sistemas y computación en la Pontificia Universidad Javeriana, sede Cali. Destacado en el desarrollo backend con énfasis en Python y C++.</p>
        <p>Contacto: antonioyu@javerianacali.edu.co</p>
    </div>
    <div id="person">
        <p>Andrea Timarán</p>
        <p>Estudiante de octavo semestre de ingenieria de sistemas y computación en la Pontificia Universidad Javeriana, sede Cali. Destacada en el tema de demostraciones formales y manejo de bases de datos.</p>
        <p>Contacto: andreaestefania12@javerianacali.edu.co</p>
    </div>
</div>