<!DOCTYPE html>
<html lang="en">

<body data-spy="scroll" data-offset="58" data-target="#navbar-main">
    <div id="greywrap">
        <div class="row" id="listadoActores">
            <div class="col-lg-4 callout" id="actor" *ngFor='let person of people'>
                <img [src]="this.imgUrl+person.profile_path" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{person.name}}</h5>
                    <a [routerLink]="['/people', person.id ]" class="btn btn-primary">Ver detalles</a>
                </div>
            </div>
        </div>
    </div>




</body>

</html>