<!DOCTYPE html>

<html lang="en">

<body data-spy="scroll" data-offset="58" data-target="#navbar-main">
    <div id="greywrap">
        <div class="row" id="listadoActores">
            <div class="callout" id="peli" *ngIf="person">
                <div id="card">
                    <img class="card-img-top" [src]="this.imgUrl+person.profile_path">
                </div>
                <div>
                    <h5 id="nombre">{{person.name}}</h5>
                    <p>Fecha de nacimiento: {{person.birthday}}</p>
                    <p>Biografía: {{person.biography}}</p>

                </div>
            </div>
        </div>
    </div>
    <div id="greywrapTitle">
        <h1 class="text-center">Actúa en</h1>
    </div>
    <div id="greywrap">
        <div class="list" *ngFor="let movie of movies; let i = index">
            <div id="pelis" *ngIf="i < 5 && movie.media_type === 'movie'">
                <a [routerLink]="['/movies', movie.id]" target="_blank">
                    <img id="image" [src]="this.imgUrl+movie.backdrop_path">
                </a>
                <p>{{movie.title}}</p>
            </div>
        </div>
    </div>

</body>

</html>