<!DOCTYPE html>

<html lang="en">

<body data-spy="scroll" data-offset="58" data-target="#navbar-main">
    <div id="greywrap">
        <div class="row" id="listadoPeli">
            <div class="callout" id="peli" *ngIf="movie">
                <div>

                    <img class="card-img-top" [src]="this.imgUrl+movie.backdrop_path">
                </div>
                <div>
                    <h5 id="titulo">{{movie.title}}</h5>
                    <p>Puntuación: {{movie.vote_average}}</p>
                    <p>Idioma original: {{movie.original_language}}</p>

                </div>
                <div>
                    <p class="card-text">{{movie.overview}}</p>
                </div>

            </div>
        </div>
    </div>
    <div id="greywrapTitle">
        <h1 class="text-center">Elenco</h1>
    </div>

    <div id="greywrapActores">
        <div class="row" id="listadoActores">
            <div *ngFor="let person of cast; let i = index">
                <div class="card" *ngIf="i < 5">
                    <a [routerLink]="['/people', person.id]" target="_blank">
                        <img [src]="this.imgUrl+person.profile_path" class="card-img">
                    </a>
                    <p>{{person.name}}</p>
                </div>
            </div>
        </div>

    </div>

    <div id="greywrapTitle">
        <h1 class="text-center">Películas similares</h1>
    </div>
    <div id="greywrapActores">
        <div class="row" id="listadoActores">
            <div *ngFor="let sim of similar; let i = index">
                <div id="pelis" *ngIf="i < 5">
                    <a [routerLink]="['/movies', sim.id]" target="_blank">
                        <img class="card-img" id="peliculas" [src]="this.imgUrl+sim.backdrop_path">
                    </a>
                    <p>{{sim.title}}</p>
                </div>
            </div>
        </div>
    </div>

</body>

</html>