<div>
    <div class="card" style="width: 25rem;" *ngFor='let movie of movies'>
        <img [src]="this.imgUrl+movie.backdrop_path" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{movie.title}}</h5>
            <p class="card-text">{{movie.overview}}</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <!-- <div class="card" style="width: 25rem;">
        <img [src]="" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{moviess?.id}}</h5>
            <p class="card-text"></p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div> -->
</div>