<!DOCTYPE html>
<html lang="en">

<body data-spy="scroll" data-offset="58" data-target="#navbar-main">
    <div id="greywrap">
        <div class="row" id="listadoPeli">
            <div class="col-lg-4 callout" id="peli" *ngFor='let movie of movies'>
                <img [src]="this.imgUrl+movie.backdrop_path " class="card-img-top" alt="... ">
                <h5 class="card-title">{{movie.title}}</h5>
                <p class="card-text">Puntuación: {{movie.vote_average}}</p>
                <a [routerLink]="[ '/movies', movie.id ] " class="btn btn-primary ">Ver detalles</a>

            </div>
        </div>
    </div>

</body>

</html>