<!DOCTYPE html>
<html lang="en">

<head>

</head>

<body data-spy="scroll" data-offset="58" data-target="#navbar-main">


    <!-- ==== HEADERWRAP ==== -->
    <div id="home"></div>
    <div id="headerwrap" name="home">
        <header class="clearfix">
            <h1><span class="icon icon-shield"></span></h1>
            <p>Movies</p>
            <p>Everything that you have been looking for</p>
        </header>
    </div>
    <!-- /headerwrap -->

    <!-- ==== GREYWRAP ==== -->
    <div id="greywrap">
        <div class="row">
            <div class="col-lg-4 callout">
                <a [routerLink]="['/movies']" target="_blank">
                    <h2>Películas</h2>
                </a>

                <p>Aquí encontraras el listado de las películas más populares hasta el momento </p>
            </div>


            <div class="col-lg-4 callout">
                <a [routerLink]="['/people']" target="_blank">
                    <h2>Actores</h2>
                </a>
                <p>Los actores y actrices que se encuentran en la mira de todo el mundo </p>
            </div>


            <div class="col-lg-4 callout">
                <a [routerLink]="['/about']" target="_blank">
                    <h2>Acerca de nosotros</h2>
                </a>
            </div>

        </div>

    </div>
    <!-- greywrap -->
</body>